<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up</title>
  </head>
  <body>
    <h3>Create a user</h3>
    <h5>{{errormessage}}</h5>
    <form action="{% url 'signup' %}" method="post">
      {% csrf_token %}
      <label for="username">Username: </label>
      <input
        type="text"
        id="username"
        name="username"
        placeholder="Enter a Username"
        required
      />

      <label for="email">Email: </label>
      <input
        type="email"
        id="email"
        name="email"
        placeholder="Enter your Email"
        required
      />

      <label for="password1">Password: </label>
      <input
        type="password"
        id="password1"
        name="password1"
        placeholder="Create a Password"
        required
      />

      <label for="password2">Confirm Password: </label>
      <input
        type="password"
        id="password2"
        name="password2"
        placeholder="Confirm Password"
        required
      />

      <button type="submit">Submit</button>
    </form>


    <!-- Script for printing message -->
    <script>
      let message = "{{message}}";
      if (message.length > 1) {
        alert(message);
      }
    </script>

    
  </body>
</html>
